/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Chat icon styles */
.chat-icon {
    right: 8px;
    position: fixed;
    bottom: 8px;
    background-color: var(--yellow);
    color: #1A1A1A;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;  
    border-radius: 50%;
    padding: 0.5rem;
}

/* Chatbox styles */
#chatbox {
    position: fixed;
    bottom: -460px;
    right: 20px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--green-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* transition: top, bottom 1s ease-out (.42,.88,.62,.14); */
    transition: 1s ease-out;
}

#toggle-chat:checked ~ #chatbox {
    bottom: 30px;
    /* transition: bottom 0.6s cubic-bezier(.42,.88,.62,.14); */
    transition: 1s ease-out;
}

#inputcheck:checked ~ #chatbox {
    bottom: -360px; 
    /* transition: bottom 0.3s cubic-bezier(.42,.88,.62,.14); */
    transition: 1s ease-out;
}

.send {
    display: flex;
    justify-content: center;
}
